@import "tailwindcss";

:root {
  --background: #ffffff;
  --bgdark: #171717;
  --ogreen: #41ff00;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-incolsolata);
  --font-mono: var(--font-xanh-mono);
  --color-ogreen: var(--ogreen);
  --color-bgdark: var(--bgdark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
